#!/usr/bin/env python
PACKAGE = "MELEW3_control"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("Send", bool_t, 0, "Send impedance_command", False)

gen.add("FL1_motor_Kp", double_t, 0, "P gain of FL1_motor joint", 0.0, 0.0, 500.0) 
gen.add("FL1_motor_Kd", double_t, 0, "D gain of FL1_motor joint", 0.0, 0.0, 5.0) 
gen.add("FL2_motor_Kp", double_t, 0, "P gain of FL2_motor joint", 0.0, 0.0, 500.0) 
gen.add("FL2_motor_Kd", double_t, 0, "D gain of FL2_motor joint", 0.0, 0.0, 5.0) 
gen.add("FL3_motor_Kp", double_t, 0, "P gain of FL3_motor joint", 0.0, 0.0, 500.0) 
gen.add("FL3_motor_Kd", double_t, 0, "D gain of FL3_motor joint", 0.0, 0.0, 5.0) 
gen.add("FL4_motor_Kp", double_t, 0, "P gain of FL4_motor joint", 0.0, 0.0, 500.0) 
gen.add("FL4_motor_Kd", double_t, 0, "D gain of FL4_motor joint", 0.0, 0.0, 5.0) 
gen.add("FR1_motor_Kp", double_t, 0, "P gain of FR1_motor joint", 0.0, 0.0, 500.0) 
gen.add("FR1_motor_Kd", double_t, 0, "D gain of FR1_motor joint", 0.0, 0.0, 5.0) 
gen.add("FR2_motor_Kp", double_t, 0, "P gain of FR2_motor joint", 0.0, 0.0, 500.0) 
gen.add("FR2_motor_Kd", double_t, 0, "D gain of FR2_motor joint", 0.0, 0.0, 5.0) 
gen.add("FR3_motor_Kp", double_t, 0, "P gain of FR3_motor joint", 0.0, 0.0, 500.0) 
gen.add("FR3_motor_Kd", double_t, 0, "D gain of FR3_motor joint", 0.0, 0.0, 5.0) 
gen.add("FR4_motor_Kp", double_t, 0, "P gain of FR4_motor joint", 0.0, 0.0, 500.0) 
gen.add("FR4_motor_Kd", double_t, 0, "D gain of FR4_motor joint", 0.0, 0.0, 5.0) 
gen.add("BL1_motor_Kp", double_t, 0, "P gain of BL1_motor joint", 0.0, 0.0, 500.0) 
gen.add("BL1_motor_Kd", double_t, 0, "D gain of BL1_motor joint", 0.0, 0.0, 5.0) 
gen.add("BL2_motor_Kp", double_t, 0, "P gain of BL2_motor joint", 0.0, 0.0, 500.0) 
gen.add("BL2_motor_Kd", double_t, 0, "D gain of BL2_motor joint", 0.0, 0.0, 5.0) 
gen.add("BL3_motor_Kp", double_t, 0, "P gain of BL3_motor joint", 0.0, 0.0, 500.0) 
gen.add("BL3_motor_Kd", double_t, 0, "D gain of BL3_motor joint", 0.0, 0.0, 5.0) 
gen.add("BL4_motor_Kp", double_t, 0, "P gain of BL4_motor joint", 0.0, 0.0, 500.0) 
gen.add("BL4_motor_Kd", double_t, 0, "D gain of BL4_motor joint", 0.0, 0.0, 5.0) 
gen.add("BR1_motor_Kp", double_t, 0, "P gain of BR1_motor joint", 0.0, 0.0, 500.0) 
gen.add("BR1_motor_Kd", double_t, 0, "D gain of BR1_motor joint", 0.0, 0.0, 5.0) 
gen.add("BR2_motor_Kp", double_t, 0, "P gain of BR2_motor joint", 0.0, 0.0, 500.0) 
gen.add("BR2_motor_Kd", double_t, 0, "D gain of BR2_motor joint", 0.0, 0.0, 5.0) 
gen.add("BR3_motor_Kp", double_t, 0, "P gain of BR3_motor joint", 0.0, 0.0, 500.0) 
gen.add("BR3_motor_Kd", double_t, 0, "D gain of BR3_motor joint", 0.0, 0.0, 5.0) 
gen.add("BR4_motor_Kp", double_t, 0, "P gain of BR4_motor joint", 0.0, 0.0, 500.0) 
gen.add("BR4_motor_Kd", double_t, 0, "D gain of BR4_motor joint", 0.0, 0.0, 5.0) 
gen.add("wheel_FL_motor_Kp", double_t, 0, "P gain of wheel_FL_motor joint", 0.0, 0.0, 500.0) 
gen.add("wheel_FL_motor_Kd", double_t, 0, "D gain of wheel_FL_motor joint", 0.0, 0.0, 5.0) 
gen.add("wheel_FR_motor_Kp", double_t, 0, "P gain of wheel_FR_motor joint", 0.0, 0.0, 500.0) 
gen.add("wheel_FR_motor_Kd", double_t, 0, "D gain of wheel_FR_motor joint", 0.0, 0.0, 5.0) 
gen.add("wheel_BL_motor_Kp", double_t, 0, "P gain of wheel_BL_motor joint", 0.0, 0.0, 500.0) 
gen.add("wheel_BL_motor_Kd", double_t, 0, "D gain of wheel_BL_motor joint", 0.0, 0.0, 5.0) 
gen.add("wheel_BR_motor_Kp", double_t, 0, "P gain of wheel_BR_motor joint", 0.0, 0.0, 500.0) 
gen.add("wheel_BR_motor_Kd", double_t, 0, "D gain of wheel_BR_motor joint", 0.0, 0.0, 5.0) 

exit(gen.generate(PACKAGE, "melew3_control", "joint_pd_gain"))