<launch>
    <group ns="MELEW3">
      <!-- Load yaml -->
      <rosparam file="$(find melew3_control)/config/MELEW3_sim.yaml" command="load"/>
    </group>
    
    <arg name="project_file" default="MELEW3_jump.cnoid"/>
    <!-- ↑胴体部分横幅400長さ500の場合 -->
    <!-- <arg name="project_file" default="MELEW3_s.cnoid"/> -->

    <!-- Choreonoid ROS -->
    <include file="$(find choreonoid_ros)/launch/choreonoid.launch">
        <arg name="choreonoid_arg" value="$(find melew3_bringup)/project/$(arg project_file)"/>
    </include>
    <!-- ROS Control -->
    <include file="$(find melew3_control)/launch/melew3_joint_control.launch"/>
    <!-- <include file="$(find melew3_control)/launch/.launch"/> -->

    <!-- load the controllers -->

    <!-- <node pkg="melew3_control" name="group_position_control" type="group_position_control" output="screen">
        <rosparam command="load" file="$(find melew3_control)/config/param.yaml"/>
    </node> -->
    <!-- <node name="init_pose" pkg="melew3_control" type="init_pose" output="screen"/> -->
</launch>