<launch>
  <group ns="MELEW3">
    <!-- Load yaml -->
    <rosparam file="$(find melew3_control)/config/MELEW3_sim.yaml" command="load"/>
  </group>

  <!-- Choreonoid -->
  <arg name="project_file" default="MELEW3.cnoid"/>
  <!-- ↑胴体部分横幅400長さ500の場合 -->
  <!-- <arg name="project_file" default="MELEW3_s.cnoid"/> -->
  <!-- <arg name="project_file" default="MELEW3_terrain.cnoid"/> -->
  <!-- <arg name="project_file" default="MELEW3_slope0.cnoid"/> -->
  <!-- <arg name="project_file" default="MELEW3_slope10.cnoid"/> -->
  <!-- <arg name="project_file" default="MELEW3_slope20.cnoid"/> -->
  <!-- <arg name="project_file" default="MELEW3_slope30.cnoid"/> -->
  <!-- <arg name="project_file" default="MELEW3_HVAC2022.cnoid"/> -->

  <!-- Choreonoid ROS -->
  <include file="$(find choreonoid_ros)/launch/choreonoid.launch">
    <arg name="choreonoid_arg" value="$(find melew3_bringup)/project/$(arg project_file)"/>
  </include>

  <!-- ROS Control -->
  <include file="$(find melew3_control)/launch/melew3_joint_control.launch"/>

  <!-- load controllers -->
  <include file="$(find melew3_control)/src/zmp_calculator/launch/zmp_calculator_node.launch"/>

</launch>