<launch>
  <node name="melew_wheel_controller" pkg="melew_wheel_controller" type="melew_wheel_controller_node" output="screen"> 
      <rosparam command="load" file="$(find melew_wheel_controller)/config/param.yaml"/>
      <rosparam command="load" file="$(find melew_wheel_controller)/config/waypoint.yaml"/>
  </node>
  <node pkg="melew3_control" name = "MELEW3_ik_calculator_node" type = "MELEW3_ik_calculator_node" output="screen"/>
  <!-- <node pkg="melew3_control" name = "MELEW3_fk_calculator_node" type = "MELEW3_fk_calculator_node" output="screen"/> -->
</launch>