<launch>
  <node name="zmp_preview_controller" pkg="melew_wheel_controller" type="zmp_preview_controller_node" output="screen">
      <rosparam command="load" file="$(find melew_wheel_controller)/config/param.yaml"/>
      <rosparam command="load" file="$(find melew_wheel_controller)/config/waypoint.yaml"/>
  </node>
</launch>